##Del 1: läsa in data

####- Skapa tre variabler med passande kolumner och läs in användardata, ratingdata ochfilmdata i variablerna.

In [1]:
import pandas as pd

#dictionary med urlarna till data, för ez access
urls = {"ratings": "https://files.grouplens.org/datasets/movielens/ml-100k/u.data",
        "users" : "https://files.grouplens.org/datasets/movielens/ml-100k/u.user",
        "movies": "https://files.grouplens.org/datasets/movielens/ml-100k/u.item"}
#Eftersom data inte innehåller några headers sätter vi in egna, also from dictionary for ez access       
dfHeaders = {"ratings": ["user id" , "item id" , "rating" , "timestamp"],
             "users" : ["id", "Age", "Gender", "Occupation", "zipcode"],
             "movies": ["movie id" , "movie title" , "release date" , "video release date", "IMDb URL" , "unknown" , "Action" , "Adventure" ,
                        "Animation", "Children's" , "Comedy" , "Crime" , "Documentary" , "Drama", "Fantasy", "Film-Noir" , "Horror" ,
                        "Musical" , "Mystery" , "Romance","Sci-Fi", "Thriller","War" , "Western"]}
#här läser vi in datat till variablerna
userDf = pd.read_csv(urls["users"], sep="|", header=None, names=dfHeaders["users"])
ratingsDf = pd.read_csv(urls["ratings"], header=None, names=dfHeaders["ratings"],delim_whitespace=True)
#jag mindes inte vilken encoding du sade att man skulle använda, och hade inte tillgång till videona från lektion. Prövade mig fram, men den där "cp437" verkar fungera 
moviesDf = pd.read_csv(urls["movies"],sep="|", header=None, names=dfHeaders["movies"], encoding="cp437")

In [2]:
moviesDf.head()

   movie id        movie title release date  ...  Thriller War  Western
0         1   Toy Story (1995)  01-Jan-1995  ...         0   0        0
1         2   GoldenEye (1995)  01-Jan-1995  ...         1   0        0
2         3  Four Rooms (1995)  01-Jan-1995  ...         1   0        0
3         4  Get Shorty (1995)  01-Jan-1995  ...         0   0        0
4         5     Copycat (1995)  01-Jan-1995  ...         1   0        0

[5 rows x 24 columns]

In [3]:
userDf.describe()

               id         Age
count  943.000000  943.000000
mean   472.000000   34.051962
std    272.364951   12.192740
min      1.000000    7.000000
25%    236.500000   25.000000
50%    472.000000   31.000000
75%    707.500000   43.000000
max    943.000000   73.000000

In [4]:
print(ratingsDf.dtypes)

user id      int64
item id      int64
rating       int64
timestamp    int64
dtype: object

In [5]:
ratingsDf.head()

   user id  item id  rating  timestamp
0      196      242       3  881250949
1      186      302       3  891717742
2       22      377       1  878887116
3      244       51       2  880606923
4      166      346       1  886397596

##Del 2: Välj Data

####- Visa endast kolumnerna Kön, Ålder och Yrke av användarna.

In [6]:
#här lagar vi en ny dataframe var vi tagit bort columnerna ID och zipcode
newUserDf = userDf.drop(["id", "zipcode"], axis="columns")
newUserDf

     Age Gender     Occupation
0     24      M     technician
1     53      F          other
2     23      M         writer
3     24      M     technician
4     33      F          other
..   ...    ...            ...
938   26      F        student
939   32      M  administrator
940   20      M        student
941   48      F      librarian
942   22      M        student

[943 rows x 3 columns]

####- Sortera ratings enligt film. (Vi vill alltså se alla ratings för en film under varann)

In [7]:
#här sorterar vi ratings enligt film ID
sortedratingsDf = ratingsDf.sort_values("item id", ascending=True)
sortedratingsDf

       user id  item id  rating  timestamp
25741       84        1       2  883452108
93639      806        1       4  882385082
55726      768        1       5  883835025
49529       92        1       4  875810511
89079      419        1       4  879435590
...        ...      ...     ...        ...
75323      863     1678       1  889289570
67302      863     1679       3  889289491
80394      863     1680       2  889289570
92329      896     1681       3  887160722
95376      916     1682       3  880845755

[100000 rows x 4 columns]

##Del 3: Filtrera Data

####- Visa endast användare med ett visst yrke.
####- Visa endast användare som är över 40 och män.

In [8]:
#här tar vi från Users datan alla engineers över 40 år gamla, på samma gång ser vi att det inte finns några kvinnor med de kriterierna så det behöver inte filtreras
engineerDf = userDf.loc[(userDf["Occupation"] == "engineer") & (userDf["Age"] >= 40)]
engineerDf

      id  Age Gender Occupation zipcode
25    26   49      M   engineer   21044
110  111   57      M   engineer   90630
132  133   53      M   engineer   78602
156  157   57      M   engineer   70808
207  208   43      M   engineer   01720
251  252   42      M   engineer   07733
270  271   51      M   engineer   22932
289  290   40      M   engineer   93550
339  340   46      M   engineer   80123
342  343   43      M   engineer   30093
363  364   63      M   engineer   01810
381  382   45      M   engineer   01824
395  396   57      M   engineer   94551
582  583   44      M   engineer   29631
637  638   45      M   engineer   01940
647  648   43      M   engineer   91351
649  650   42      M   engineer   83814
766  767   70      M   engineer   00000
824  825   44      M   engineer   05452
847  848   46      M   engineer   02146
883  884   44      M   engineer   55337
933  934   61      M   engineer   22902

##Del 4: Utforska data

####- Visa medelåldern av användarna som är författare.

In [9]:
writerDf = userDf.loc[(userDf["Occupation"] == "writer")]
writerDf

      id  Age Gender Occupation zipcode
2      3   23      M     writer   32067
20    21   26      M     writer   30068
21    22   25      M     writer   40206
27    28   32      M     writer   55369
49    50   21      M     writer   52245
121  122   32      F     writer   22206
195  196   49      M     writer   55105
198  199   30      M     writer   17604
200  201   27      M     writer   E2A4H
235  236   44      F     writer   53214
263  264   36      F     writer   90064
292  293   24      M     writer   60804
369  370   52      M     writer   08534
384  385   36      M     writer   10003
388  389   44      F     writer   83702
389  390   42      F     writer   85016
391  392   52      M     writer   59801
444  445   21      M     writer   92653
463  464   60      M     writer   94583
490  491   43      F     writer   53711
497  498   26      M     writer   55408
502  503   50      F     writer   27514
503  504   40      F     writer   92115
506  507   18      F     writer   28450
517  518   49      F     writer   99709
547  548   51      M     writer   95468
556  557   30      F     writer   11217
557  558   56      F     writer   63132
616  617   27      F     writer   11201
619  620   18      F     writer   81648
667  668   29      F     writer   10016
694  695   26      M     writer   38115
735  736   48      F     writer   94618
740  741   25      M     writer   63108
744  745   42      M     writer   55113
771  772   50      M     writer   27105
795  796   32      F     writer   33755
797  798   40      F     writer   64131
800  801   22      M     writer   92154
828  829   48      M     writer   80209
832  833   34      M     writer   90019
841  842   40      M     writer   93055
852  853   49      M     writer   40515
895  896   28      M     writer   91505
910  911   37      F     writer   53210

In [10]:
print("The avarage age of writers in the dataset is: " + str(writerDf["Age"].mean()))

The avarage age of writers in the dataset is: 36.31111111111111

####- Använd den tidigare ratings per film sorteringen för att räkna medelrating per film.

In [11]:
#här gruperar vi alla ratings med samma "item id" till en lista och sedan lagar vi en ny dataframe med kolumnerna "item id" som är filmens ID
#och "rating" som är en lista med alla ratings för den filmen
grouped_sortedratingsDf = sortedratingsDf.groupby("item id")
grouped_ratings = grouped_sortedratingsDf["rating"].apply(list)
grouped_ratings = grouped_ratings.reset_index()

In [12]:
grouped_ratings.head()

   item id                                             rating
0        1  [2, 4, 5, 4, 4, 4, 2, 4, 4, 5, 4, 5, 5, 5, 5, ...
1        2  [3, 2, 2, 3, 4, 3, 4, 4, 3, 1, 3, 1, 3, 4, 2, ...
2        3  [2, 2, 4, 5, 2, 3, 3, 4, 1, 2, 5, 1, 3, 3, 2, ...
3        4  [4, 1, 4, 4, 3, 4, 5, 3, 3, 3, 4, 3, 4, 4, 4, ...
4        5  [2, 4, 4, 4, 3, 4, 4, 3, 2, 4, 1, 1, 3, 4, 3, ...

In [13]:
from statistics import mean

#här tar vi ut en list of lists som innehåller alla ratings
#och kalkylerar ut medeltalet av varje list och sätter svaret i en ny lista
ratinglist = grouped_ratings["rating"].tolist()
meanratinglist = []
for x in range(len(ratinglist)):
  meanratinglist.append(mean(ratinglist[x]))
#sedan lägger vi listan med medeltalen tillbaka i vår gruperade dataframe
grouped_ratings["average_rating"] = meanratinglist

In [14]:
grouped_ratings

      item id  ... average_rating
0           1  ...       3.878319
1           2  ...       3.206107
2           3  ...       3.033333
3           4  ...       3.550239
4           5  ...       3.302326
...       ...  ...            ...
1677     1678  ...       1.000000
1678     1679  ...       3.000000
1679     1680  ...       2.000000
1680     1681  ...       3.000000
1681     1682  ...       3.000000

[1682 rows x 3 columns]

####- Hitta top 10 filmerna bland de som har fler än 40 ratings.

In [15]:
#här lagar jag en till collumn med data för hur många ratings varje film har
grouped_ratings["number of ratings"] = grouped_ratings["rating"].apply(lambda x:len(x))  
#och tar ut en dataframe var "number of ratings" är större än 40
grouped_morethan40ratings = grouped_ratings.loc[grouped_ratings['number of ratings'] >= 40]

In [16]:
#sorterar den enligt medeltalet av rating
grouped_morethan40ratings_sorted = grouped_morethan40ratings.sort_values("average_rating", ascending=False)
#printar top10
grouped_morethan40ratings_sorted.head(10)

     item id  ... number of ratings
407      408  ...               112
317      318  ...               298
168      169  ...               118
482      483  ...               243
113      114  ...                67
63        64  ...               283
602      603  ...               209
11        12  ...               267
49        50  ...               583
177      178  ...               125

[10 rows x 4 columns]

##5. Kombinera dataFrames

####- Använd u.user datan för att undersöka vilka yrken som är vanliga bland män och viceversa? Illustrera dina observationer (inga grafer behövs), endast ett svar typ “ingenjörerär vanligast” räcker inte. 
####Skriv t.ex ut de manliga användarna och gruppera dem enligtyrke, gör sedan nån räkneoperation och skriv ut antalen män/kvinnor för de vanligasteyrken

Här söker vi fram de populäraste arbeten bland män i vårt dataset.

In [17]:
maleUserDf = userDf.loc[(userDf["Gender"] == "M")]

#grupera ID enligt "Occupation"
grouped_maleUsersDf = maleUserDf.groupby("Occupation")
grouped_occupation = grouped_maleUsersDf["id"].apply(list)
grouped_occupation = grouped_occupation.reset_index()
#laga en column med mängden arbetare i varje kategori
grouped_occupation["number of occupation"]  = grouped_occupation["id"].apply(lambda x:len(x))  
#sortera minskande "number of occupation"
grouped_occupation = grouped_occupation.sort_values("number of occupation", ascending=False)
#populäraste arbeten bland män
grouped_occupation

       Occupation  ... number of occupation
18        student  ...                  136
13          other  ...                   69
3        educator  ...                   69
4        engineer  ...                   65
14     programmer  ...                   60
0   administrator  ...                   43
6       executive  ...                   29
17      scientist  ...                   28
19     technician  ...                   26
20         writer  ...                   26
10      librarian  ...                   22
11      marketing  ...                   16
5   entertainment  ...                   16
1          artist  ...                   15
15        retired  ...                   13
9          lawyer  ...                   10
16       salesman  ...                    9
2          doctor  ...                    7
12           none  ...                    5
7      healthcare  ...                    5
8       homemaker  ...                    1

[21 rows x 3 columns]

Samma som ovan bara att för kvinnor

In [18]:
femaleUserDf = userDf.loc[(userDf["Gender"] == "F")]

#grupera ID enligt "Occupation"
grouped_femaleUsersDf = femaleUserDf.groupby("Occupation")
grouped_occupation_fe = grouped_femaleUsersDf["id"].apply(list)
grouped_occupation_fe = grouped_occupation_fe.reset_index()
#laga en column med mängden arbetare i varje kategori
grouped_occupation_fe["number of occupation"]  = grouped_occupation_fe["id"].apply(lambda x:len(x))  
#sortera minskande "number of occupation"
grouped_occupation_fe = grouped_occupation_fe.sort_values("number of occupation", ascending=False)
#populäraste arbeten bland kvinnor
grouped_occupation_fe

       Occupation  ... number of occupation
17        student  ...                   60
0   administrator  ...                   36
12          other  ...                   36
9       librarian  ...                   29
2        educator  ...                   26
19         writer  ...                   19
1          artist  ...                   13
6      healthcare  ...                   11
10      marketing  ...                   10
7       homemaker  ...                    6
13     programmer  ...                    6
11           none  ...                    4
5       executive  ...                    3
15       salesman  ...                    3
16      scientist  ...                    3
8          lawyer  ...                    2
4   entertainment  ...                    2
3        engineer  ...                    2
14        retired  ...                    1
18     technician  ...                    1

[20 rows x 3 columns]

####- Kombinera u.data med u.item för att  skapa en tabell där man kan se Movie Title och Rating.

In [22]:
#TODO... but time ran out